* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

#story-box, #story-output {
    width: 900px;
    height: 600px; /* 고정된 높이 */
    padding: 30px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#story-box {
    background-color: #ffffff;
}

#story-output {
    background-color: black;
    color: white;
    display: none;
}

h1 {
    margin-bottom: 20px;
    font-size: 32px;
}

.element-select {
    margin-bottom: 15px;
    width: 100%;
}

label {
    font-size: 24px;
    display: block;
    margin-bottom: 5px;
}

select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#start-button {
    margin-top: 30px;
    padding: 15px 30px;
    background-color: #4CAF50;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#start-button:hover {
    background-color: #45a049;
}

#choices-container {
    margin-top: 30px;
}

.choice-button {
    display: block;
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    background-color: #007BFF;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.choice-button:hover {
    background-color: #0056b3;
}

.restart-button {
    position: absolute; 
    top: 10px;
    right: 10px;
    padding: 15px;
    background-color: #007BFF;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.restart-button:hover {
    background-color: #0056b3;
}